# Object files
*.o
*.ko
*.obj
*.elf
*.ce
*.co

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.z1
*.map
*.sky
*.rm090

# Stupid temp files
*~
